Repository DroidKaigi/conference-app-2024, pull requests merged in 2024-08, with the labels that each got.

#262 Fixed build to succeed in ios
  app-ios/Sources/EventMapFeature/Model/FloorMap.swift
  app-ios/Sources/TimetableFeature/TimetableReducer.swift
Labels: type:iOS 🍎

#269 Added fixed colors
  core/designsystem/src/commonMain/kotlin/io/github/droidkaigi/confsched/designsystem/theme/FixedAccentColors.kt
  core/designsystem/src/commonMain/kotlin/io/github/droidkaigi/confsched/designsystem/theme/Theme.kt
Labels: awesome

#263 Added event map feature tests in iOS
  app-ios/Tests/EventMapFeatureTests/EventMapTests.swift
  app-ios/Tests/FavoriteFeatureTests/FavoriteTests.swift
Labels: type:iOS 🍎

#255 Fix minor bug in tab bar and navigation bar
  app-ios/Sources/App/RootReducer.swift
  app-ios/Sources/App/RootView.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
Labels: type:iOS 🍎

#266 Support color constrast theming
  app-android/src/main/java/io/github/droidkaigi/confsched/KaigiApp.kt
  core/designsystem/src/commonMain/kotlin/io/github/droidkaigi/confsched/designsystem/theme/Theme.kt
Labels: awesome

#308 Fix a header background in case of the detail that the title is too short and the speakers are nothing in iOS
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
Labels: type:iOS 🍎

#268 [feature/#245] Apply type safe navigation on TimetableItemDetailScreen
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/TimetableItemDetailScreenRobot.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/rules/RobotTestRule.kt
  feature/sessions/build.gradle.kts
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/navigation/TimetableItemDetailDestination.kt
Labels: awesome

#337 Add event map dependencies
  app-ios/Sources/KMPClient/Client.swift
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/KMPClient/TestKey.swift
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/eventmap/DefaultEventMapRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/eventmap/EventMapApiClient.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/eventmap/FakeEventMapApiClient.kt
  core/data/src/iosMain/kotlin/io/github/droidkaigi/confsched/data/DataModule.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/EventMapRepository.kt
Labels: type:iOS 🍎

#354 Use non-blurred scrim for GlassLikeBottomNavigation on devices without support for blur
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/BlurSupport.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/BlurSupport.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/BlurSupport.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/MainScreen.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/section/GlassLikeBottomNavigation.kt
Labels: awesome

#323 Shows UI Components with KMP presenter in ContributorView
  app-ios/Sources/ContributorFeature/ContributorListItemView.swift
  app-ios/Sources/ContributorFeature/ContributorView.swift
  app-ios/Sources/ContributorFeature/KmpPresenterContributorView.swift
  app-ios/Sources/ContributorFeature/SwiftUIContributorView.swift
  app-ios/Sources/KMPClient/Views/KmpContributorView.swift
Labels: type:iOS 🍎

#361 save profilecard to datastore
  core/data/src/androidMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/ProfileCardDataStoreModule.kt
  core/data/src/androidMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/ProfileCardRepositoryModule.kt
  core/data/src/androidMain/kotlin/io/github/droidkaigi/confsched/data/user/DataStoreModule.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/DefaultProfileCardRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/ProfileCardDataStore.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/ProfileCardJson.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/ProfileCard.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/ProfileCardRepository.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/ProfileCardTheme.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/data/TestDataStoreModule.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/MiniRobots.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/ProfileCardScreenRobot.kt
  feature/profilecard/build.gradle.kts
  feature/profilecard/src/androidUnitTest/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreenTest.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreen.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreenPresenter.kt
Labels: type:feature ✨

#368 Not to share scroll state between conference date tabs
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/TimetableScreenRobot.kt
  feature/sessions/src/androidUnitTest/kotlin/io/github/droidkaigi/confsched/sessions/TimetableScreenTest.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/component/TimetableGridHours.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/component/TimetableGridRooms.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/section/TimetableGrid.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/section/TimetableSheet.kt
Labels: awesome

#366 Update topBar with AnimatedTextTopAppBar
  app-android/src/main/java/io/github/droidkaigi/confsched/KaigiApp.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/FavoritesScreenRobot.kt
  feature/eventmap/src/commonMain/kotlin/io/github/droidkaigi/confsched/eventmap/EventMapScreen.kt
  feature/eventmap/src/iosMain/kotlin/io/github/droidkaigi/confsched/eventmap/EventMapViewController.kt
  feature/favorites/src/commonMain/kotlin/io/github/droidkaigi/confsched/favorites/FavoritesScreen.kt
Labels: type: design enhancement 🎨

#363 Implement shared element transitions between the timetable list and timetable item details
  app-android/src/main/java/io/github/droidkaigi/confsched/KaigiApp.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/compositionlocal/LocalAnimatedVisibilityScope.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/compositionlocal/LocalSharedTransitionScope.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/MainScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailPresenter.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/section/TimetableGrid.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/section/TimetableList.kt
Labels: awesome

#369 Add event list into EventMapView
  app-ios/Package.swift
  app-ios/Sources/CommonComponents/Timetable/RoomTag.swift
  app-ios/Sources/CommonComponents/Timetable/TimetableCard.swift
  app-ios/Sources/EventMapFeature/EventItem.swift
  app-ios/Sources/EventMapFeature/EventMapReducer.swift
  app-ios/Sources/EventMapFeature/EventMapView.swift
  app-ios/Sources/EventMapFeature/Resources/Localizable.xcstrings
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/Model/Extension/RoomType+Extension.swift
  app-ios/Sources/Model/Extension/TimetableRoom+Extension.swift
  app-ios/Sources/TimetableDetailFeature/Component/SessionDescriptionView.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
  core/data/src/iosMain/kotlin/io/github/droidkaigi/confsched/data/DataModule.kt
Labels: type:iOS 🍎

#289 fixed link between timetable and timetable detail
  app-ios/Sources/App/RootReducer.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
  app-ios/Sources/TimetableFeature/TimetableReducer.swift
Labels: type:iOS 🍎

#396 Add make bootstrap for app-ios
  app-ios/Makefile
  app-ios/README.md
Labels: type:iOS 🍎

#410 Added auto assign reviewers action for iOS
  .github/workflows/ios-assign-reviewers.yml
Labels: type:iOS 🍎

#299 Fixed tab on timetable. (This design may change soon)
  app-ios/Sources/TimetableFeature/SampleData.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
  app-ios/Sources/TimetableFeature/TimetableReducer.swift
Labels: type:iOS 🍎

#407 Added logic to favorite session into TimetableListView and TimetableDetailView
  app-ios/Sources/App/RootReducer.swift
  app-ios/Sources/App/RootView.swift
  app-ios/Sources/CommonComponents/SelectionChips.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailReducer.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
  app-ios/Sources/TimetableFeature/Resource/Localizable.xcstrings
  app-ios/Sources/TimetableFeature/TimetableListView.swift
  app-ios/Sources/TimetableFeature/TimetableReducer.swift
  app-ios/Tests/TimetableDetailFeatureTests/TimetableDetailTests.swift
Labels: type:iOS 🍎

#416 Modified AboutView UI on iOS
  app-ios/Sources/AboutFeature/AboutView.swift
  app-ios/Sources/AboutFeature/KeyVisual.swift
  app-ios/Sources/AboutFeature/Localizable.xcstrings
  app-ios/Sources/AboutFeature/Media.xcassets/Background.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/Header_Logo.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/Header_Logo.imageset/Header_Logo.png
  app-ios/Sources/AboutFeature/Media.xcassets/Header_Logo.imageset/Header_Logo@2x.png
  app-ios/Sources/AboutFeature/Media.xcassets/Header_Logo.imageset/Header_Logo@3x.png
  app-ios/Sources/AboutFeature/Media.xcassets/KeyVisualInformationBase.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/OutlineOutline Variant.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/PrimaryPrimary.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/SurfaceOn Surface Variant.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/SurfaceOn Surface.colorset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_apartment.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_apartment.imageset/ic_apartment.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_diversity.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_diversity.imageset/ic_diversity.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_file_copy.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_file_copy.imageset/ic_file_copy.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_gavel.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_gavel.imageset/ic_gavel.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_location.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_location.imageset/ic_location.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_privacy_tip.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_privacy_tip.imageset/ic_privacy_tip.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_schedule.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_schedule.imageset/ic_schedule.svg
  app-ios/Sources/AboutFeature/Media.xcassets/ic_very_satisfied.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/ic_very_satisfied.imageset/ic_very_satisfied.svg
  app-ios/Sources/AboutFeature/Media.xcassets/medium_social_circle.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/medium_social_circle.imageset/medium_social_circle.png
  app-ios/Sources/AboutFeature/Media.xcassets/medium_social_circle.imageset/medium_social_circle@2x.png
  app-ios/Sources/AboutFeature/Media.xcassets/medium_social_circle.imageset/medium_social_circle@3x.png
  app-ios/Sources/AboutFeature/Media.xcassets/x_social_circle.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/x_social_circle.imageset/x_social_circle.png
  app-ios/Sources/AboutFeature/Media.xcassets/x_social_circle.imageset/x_social_circle@2x.png
  app-ios/Sources/AboutFeature/Media.xcassets/x_social_circle.imageset/x_social_circle@3x.png
  app-ios/Sources/AboutFeature/Media.xcassets/youtube_social_circle.imageset/Contents.json
  app-ios/Sources/AboutFeature/Media.xcassets/youtube_social_circle.imageset/youtube_social_circle.png
  app-ios/Sources/AboutFeature/Media.xcassets/youtube_social_circle.imageset/youtube_social_circle@2x.png
  app-ios/Sources/AboutFeature/Media.xcassets/youtube_social_circle.imageset/youtube_social_circle@3x.png
Labels: type:iOS 🍎

#417 In AboutScreen, remove unnecessary padding and add parallax
  feature/about/src/commonMain/kotlin/io/github/droidkaigi/confsched/about/AboutScreen.kt
  feature/about/src/commonMain/kotlin/io/github/droidkaigi/confsched/about/section/AboutDroidKaigiDetail.kt
Labels: awesome

#467 to be able show connection failed message
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/NetworkService.kt
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/AppError.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/AppError.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/AppError.kt
  core/ui/src/commonMain/composeResources/values-ja/strings.xml
  core/ui/src/commonMain/composeResources/values/strings.xml
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/AppErrorMapper.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/ComposeResourceErrorMessage.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/PresenterDefaultsProvider.kt
Labels: awesome

#477 Add app icon for iOS
  app-ios/App/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  app-ios/App/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: type:iOS 🍎

#504 Translate timetable title into Japanese
  app-ios/Sources/TimetableFeature/Resource/Localizable.xcstrings
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#482 Add tests to verify DroidKaigi2024Day and the initially displayed timetable tab
  core/model/build.gradle.kts
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/DroidKaigi2024Day.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/Timetable.kt
  core/model/src/commonTest/kotlin/io/github/droidkaigi/confsched/model/DroidKaigi2024DayTest.kt
  core/testing/src/main/java/io/github/droidkaigi/confsched/testing/robot/TimetableScreenRobot.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/compositionlocal/LocalClock.kt
  feature/sessions/build.gradle.kts
  feature/sessions/src/androidUnitTest/kotlin/io/github/droidkaigi/confsched/sessions/TimetableScreenTest.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/component/TimetableGridTab.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/section/TimetableSheet.kt
  gradle/libs.versions.toml
Labels: awesome

#455 iOS test action
  .github/workflows/ios-build-test.yml
  app-ios/App/App.xctestplan
  app-ios/Makefile
  app-ios/Package.swift
  app-ios/Tests/TimetableTests/TimetableTests.swift
Labels: type:iOS 🍎

#483 Impl bottom floating material glassed tabbar in iOS
  app-ios/Sources/AboutFeature/AboutView.swift
  app-ios/Sources/App/RootReducer.swift
  app-ios/Sources/App/RootView.swift
  app-ios/Sources/EventMapFeature/EventMapView.swift
  app-ios/Sources/FavoriteFeature/FavoriteView.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#512 [Proposal/Experimental] :sparkles: AnimatedVectorDrawable was used to animate the header of the About screen.
  core/ui/build.gradle.kts
  core/ui/src/androidMain/kotlin/io/github/droidkaigi/confsched/ui/ProvideAboutHeaderPainter.kt
  core/ui/src/androidMain/res/drawable/anim_header_title.xml
  core/ui/src/commonMain/composeResources/drawable/about_header_title.xml
  core/ui/src/commonMain/composeResources/drawable/about_header_year.xml
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/ProvideAboutHeaderPainter.kt
  core/ui/src/iosMain/kotlin/io/github/droidkaigi/confsched/ui/ProvideAboutHeaderPainter.kt
  feature/about/src/commonMain/composeResources/drawable/about_header.xml
  feature/about/src/commonMain/kotlin/io/github/droidkaigi/confsched/about/section/AboutDroidKaigiDetail.kt
Labels: awesome

#532 Display session information in list mode of timetable
  app-ios/Sources/CommonComponents/Resources/Media.xcassets/ic_info_fill.imageset/Contents.json
  app-ios/Sources/CommonComponents/Resources/Media.xcassets/ic_info_fill.imageset/info.svg
  app-ios/Sources/CommonComponents/Timetable/TimetableCard.swift
Labels: type:iOS 🍎

#545 Add message to EventMap
  app-ios/Sources/EventMapFeature/EventItem.swift
Labels: type:iOS 🍎

#535 [iOS] Replace the grid/list switching icon
  app-ios/Sources/TimetableFeature/Resource/Media.xcassets/ic_grid.imageset/Contents.json
  app-ios/Sources/TimetableFeature/Resource/Media.xcassets/ic_grid.imageset/ic_grid.svg
  app-ios/Sources/TimetableFeature/Resource/Media.xcassets/ic_list.imageset/Contents.json
  app-ios/Sources/TimetableFeature/Resource/Media.xcassets/ic_list.imageset/ic_list.svg
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#534 Refine sponsor grid view
  app-ios/Sources/SponsorFeature/SponsorView.swift
Labels: type:iOS 🍎

#552 Fix typo in README
  app-ios/README.md
Labels: type:iOS 🍎

#555 Remove redundant `\.id` in SwiftUI.ForEach
  app-ios/Sources/SponsorFeature/SponsorView.swift
  app-ios/Sources/StaffFeature/StaffView.swift
Labels: type:iOS 🍎

#568 Add (at)retroactive to the extension to address the Xcode 16 warning.
  app-ios/Sources/FavoriteFeature/FavoriteView.swift
  app-ios/Sources/SearchFeature/SearchView.swift
Labels: type:iOS 🍎

#571 [iOS] Search Feature: Remove filter of Workshop Day
  app-ios/Sources/Model/Selectable.swift
  app-ios/Sources/SearchFeature/SearchView.swift
Labels: type:iOS 🍎

#581 Fix workflow to assign reviewers for iOS
  .github/workflows/ios-assign-reviewers.yml
Labels: type:iOS 🍎

#536 Add favorite registration micro-interaction for Android
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/ModifierExt.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/animation/FavoriteAnimation.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/animation/FavoriteAnimationModifier.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/animation/FavoriteAnimationScope.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/component/TimetableItemCard.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/MainScreen.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/section/GlassLikeBottomNavigation.kt
Labels: awesome

#598 Set the Application default color scheme to be dark
  app-ios/App/App.xcodeproj/project.pbxproj
Labels: type:iOS 🍎

#367 Feature/timetable feature grid2
  app-ios/Sources/CommonComponents/Timetable/RoomTag.swift
  app-ios/Sources/TimetableFeature/Resource/Localizable.xcstrings
  app-ios/Sources/TimetableFeature/TimetableDataItems.swift
  app-ios/Sources/TimetableFeature/TimetableGridCard.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#565 Fix: concurrency strict warning in StaffReducer
  app-ios/Package.swift
  app-ios/Sources/KMPClient/Client.swift
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/Model/Entity/Staff.swift
  app-ios/Sources/StaffFeature/StaffReducer.swift
  app-ios/Sources/StaffFeature/StaffView.swift
  app-ios/Tests/StaffFeatureTests/StaffFeatureTests.swift
Labels: type:iOS 🍎

#624 Fix: concurrency strict warning in ContributorReducer
  app-ios/Sources/ContributorFeature/ContributorListItemView.swift
  app-ios/Sources/ContributorFeature/ContributorReducer.swift
  app-ios/Sources/ContributorFeature/KmpPresenterContributorView.swift
  app-ios/Sources/KMPClient/Client.swift
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/Model/Entity/Contributor.swift
  app-ios/Tests/ContributorFeatureTests/ContributorFeatureTests.swift
Labels: type:iOS 🍎

#620 Fix: concurrency strict warning in SponsorReducer
  app-ios/Sources/KMPClient/Client.swift
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/Model/Entity/Sponsor.swift
  app-ios/Sources/SponsorFeature/SponsorReducer.swift
  app-ios/Sources/SponsorFeature/SponsorView.swift
  app-ios/Tests/SponsorFeatureTests/SponsorFeatureTests.swift
Labels: type:iOS 🍎

#629 Change the background color of the sponsor logo in iOS
  app-ios/Sources/SponsorFeature/SponsorView.swift
Labels: type:iOS 🍎

#630 Add extension for SwiftGen code to conform to unchecked Sendable
  app-ios/Sources/Theme/ColorAsset+Sendable.swift
  app-ios/Sources/Theme/FontConvertible+Sendable.swift
Labels: type:iOS 🍎

#642 Container conform to `Sendable` to resolve Swfit 6 warning
  app-ios/Sources/KMPClient/Helpers/Container.swift
Labels: type:iOS 🍎

#648 Fix workflow to assign reviewers for iOS
  .github/workflows/ios-assign-reviewers.yml
Labels: type:iOS 🍎

#652 Qr code generate
  feature/profilecard/build.gradle.kts
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/FlipCard.kt
  gradle/libs.versions.toml
Labels: awesome

#644 English translation support for About Screen Title & Search Chips
  app-ios/Sources/AboutFeature/Localizable.xcstrings
  app-ios/Sources/SearchFeature/Resources/Localizable.xcstrings
Labels: type:iOS 🍎

#641 added margin to timetable grid view #618
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#685 Fix iOS KMP resources
  app-ios/App/App.xcodeproj/project.pbxproj
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/PresenterDefaultsProvider.kt
Labels: type:iOS 🍎

#573 [iOS] Create a cache system for images
  app-ios/Sources/CommonComponents/Timetable/CircularUserIcon.swift
  app-ios/Sources/CommonComponents/Timetable/TimetableCard.swift
  app-ios/Sources/ContributorFeature/ContributorListItemView.swift
  app-ios/Sources/StaffFeature/StaffLabel.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
Labels: type:iOS 🍎

#531 Added logic to open sheet when tapping contributor button in ContributorView
  app-ios/Sources/ContributorFeature/ContributorView.swift
  app-ios/Sources/KMPClient/Views/KmpContributorComposeViewControllerWrapper.swift
Labels: type:iOS 🍎

#538 [iOS] Modify header tab on ContributorView
  app-ios/Sources/ContributorFeature/ContributorView.swift
  app-ios/Sources/ContributorFeature/KmpPresenterContributorView.swift
  app-ios/Sources/ContributorFeature/Resources/Localizable.xcstrings
  app-ios/Sources/KMPClient/Views/KmpContributorComposeViewControllerWrapper.swift
Labels: type:iOS 🍎

#684 Enable to display category chip data (from State) in SearchView
  app-ios/Sources/SearchFeature/Resources/Localizable.xcstrings
  app-ios/Sources/SearchFeature/SearchView.swift
Labels: type:iOS 🍎

#656 [iOS] Changed to get real event map data
  core/data/src/iosMain/kotlin/io/github/droidkaigi/confsched/data/DataModule.kt
  core/model/src/commonMain/kotlin/io/github/droidkaigi/confsched/model/EventMapRepository.kt
Labels: type:iOS 🍎

#645 Refactoring RoomTag
  app-ios/Sources/CommonComponents/Timetable/RoomTag.swift
  app-ios/Sources/CommonComponents/Timetable/RoomTypeShape.swift
  app-ios/Sources/CommonComponents/Timetable/TimetableCard.swift
  app-ios/Sources/EventMapFeature/EventItem.swift
  app-ios/Sources/Model/Entity/MultiLangText.swift
  app-ios/Sources/Model/Entity/RoomTheme.swift
  app-ios/Sources/Model/Entity/RoomType.swift
  app-ios/Sources/Model/Extension/RoomType+Extension.swift
  app-ios/Sources/Model/Extension/TimetableRoom+Extension.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
  app-ios/Sources/TimetableFeature/TimetableGridCard.swift
Labels: type:iOS 🍎

#657 Removed problematic toast (was not specified in Figma for this view)
  app-ios/Sources/TimetableFeature/Resource/Localizable.xcstrings
  app-ios/Sources/TimetableFeature/TimetableListView.swift
  app-ios/Sources/TimetableFeature/TimetableReducer.swift
Labels: type:iOS 🍎

#676 :memo: Add suffix actual method file
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/AppError.android.kt
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/BlurSupport.android.kt
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/Immutable.android.kt
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/Locale.android.kt
  core/model/src/androidMain/kotlin/io/github/droidkaigi/confsched/model/WhiteImageBase64.android.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/AppError.ios.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/BlurSupport.ios.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/Locale.ios.kt
  core/model/src/iosMain/kotlin/io/github/droidkaigi/confsched/model/WhiteImageBase64.ios.kt
  core/ui/src/androidMain/kotlin/io/github/droidkaigi/confsched/ui/ProvideAboutHeaderPainter.android.kt
  core/ui/src/androidMain/kotlin/io/github/droidkaigi/confsched/ui/RandomUUID.android.kt
  core/ui/src/androidMain/kotlin/io/github/droidkaigi/confsched/ui/TestEnvironment.android.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/TestEnvironment.kt
  core/ui/src/iosMain/kotlin/io/github/droidkaigi/confsched/ui/ProvideAboutHeaderPainter.ios.kt
  core/ui/src/iosMain/kotlin/io/github/droidkaigi/confsched/ui/RandomUUID.ios.kt
  core/ui/src/iosMain/kotlin/io/github/droidkaigi/confsched/ui/TestEnvironment.ios.kt
Labels: type:iOS 🍎

#715 Switch Compose Multiplatform
  app-ios/Sources/AboutFeature/AboutReducer.swift
  app-ios/Sources/AboutFeature/AboutView.swift
  app-ios/Sources/AboutFeature/Localizable.xcstrings
  app-ios/Sources/App/RootReducer.swift
  app-ios/Sources/App/RootView.swift
Labels: type:iOS 🍎

#640 Fix unselected icons color on bottom bar
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/section/GlassLikeBottomNavigation.kt
Labels: status:blocked ⛔

#714 [iOS] ProfileCard Base (Input)
  app-ios/App/App.xcodeproj/project.pbxproj
  app-ios/App/ci_scripts/ci_post_clone.sh
  app-ios/App/ci_scripts/ci_pre_xcodebuild.sh
  app-ios/Package.resolved
  app-ios/Package.swift
  app-ios/Sources/App/RootView.swift
  app-ios/Sources/KMPClient/Client.swift
  app-ios/Sources/KMPClient/LiveKey.swift
  app-ios/Sources/KMPClient/TestKey.swift
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputCardType.swift
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputImage.swift
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputReducer.swift
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputTextField.swift
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputView.swift
  app-ios/Sources/ProfileCardFeature/Resources/Localizable.xcstrings
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/Contents.json
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/add.imageset/Contents.json
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/add.imageset/add_24px.svg
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/check.imageset/Contents.json
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/check.imageset/check_24px.svg
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/close.imageset/Contents.json
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/close.imageset/close_24px.svg
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/logo.imageset/Contents.json
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/logo.imageset/img_tit.png
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/logo.imageset/img_tit@2x.png
  app-ios/Sources/ProfileCardFeature/Resources/Media.xcassets/logo.imageset/img_tit@3x.png
  app-ios/Sources/Theme/Resources/Colors.xcassets/Surface/Surface Tint.colorset/Contents.json
  app-ios/Sources/Theme/Resources/Colors.xcassets/Surface/Surface Variant.colorset/Contents.json
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/profilecard/DefaultProfileCardRepository.kt
  core/data/src/iosMain/kotlin/io/github/droidkaigi/confsched/data/DataModule.kt
Labels: type:iOS 🍎

#732 fix bottom navigation
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/MainScreen.kt
Labels: awesome

#749 :sparkles: Implement share ProfileCard from an iOS Compose Multiplatform app
  app-ios-shared/src/commonMain/kotlin/io/github/droidkaigi/confsched/shared/IosComposeKaigiApp.kt
  app-ios-shared/src/commonMain/kotlin/io/github/droidkaigi/confsched/shared/share/ShareTextWithImage.kt
  app-ios-shared/src/iosMain/kotlin/io/github/droidkaigi/confsched/shared/share/ImageBitmapToUiImage.kt
  app-ios-shared/src/iosMain/kotlin/io/github/droidkaigi/confsched/shared/share/ShareTextWithImage.ios.kt
Labels: awesome

#750 Make profile card glow based on device orientation
  core/ui/src/androidMain/kotlin/io/github/droidkaigi/confsched/ui/OrientationSensorManager.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/OrientationSensorManager.kt
  core/ui/src/commonMain/kotlin/io/github/droidkaigi/confsched/ui/WithDeviceOrientation.kt
  core/ui/src/iosMain/kotlin/io/github/droidkaigi/confsched/ui/OrientationSensorManager.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/HologramaticEffectModifier.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/FlipCard.kt
Labels: awesome

#697 [iOS] Automatically focus search bar when navigating to search screen
  app-ios/Sources/SearchFeature/SearchView.swift
Labels: type:iOS 🍎

#754 DroidKaigi logo on ProfileCard's QR code
  feature/profilecard/src/commonMain/composeResources/drawable/droidkaigi_logo.png
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/FlipCard.kt
Labels: awesome

#759 :wrench: Make modifications so that the build can be done on the actual iPhone device.
  app-ios-shared/build.gradle.kts
  app-ios/App/App.xcodeproj/project.pbxproj
Labels: type:iOS 🍎

#765 Launch a coroutines job for each event
  README.md
  app-ios/Sources/ContributorFeature/KmpPresenterContributorView.swift
  core/common/src/commonMain/kotlin/io/github/droidkaigi/confsched/compose/EventEmitter.kt
  core/common/src/commonMain/kotlin/io/github/droidkaigi/confsched/compose/EventFlow.kt
  core/droidkaigiui/src/commonMain/kotlin/io/github/droidkaigi/confsched/droidkaigiui/UserMessage.kt
  feature/contributors/src/commonMain/kotlin/io/github/droidkaigi/confsched/contributors/ContributorsScreen.kt
  feature/contributors/src/commonMain/kotlin/io/github/droidkaigi/confsched/contributors/ContributorsScreenPresenter.kt
  feature/contributors/src/iosMain/kotlin/io/github/droidkaigi/confsched/contributors/ContributorsViewController.kt
  feature/eventmap/src/commonMain/kotlin/io/github/droidkaigi/confsched/eventmap/EventMapScreen.kt
  feature/eventmap/src/commonMain/kotlin/io/github/droidkaigi/confsched/eventmap/EventMapScreenPresenter.kt
  feature/eventmap/src/iosMain/kotlin/io/github/droidkaigi/confsched/eventmap/EventMapViewController.kt
  feature/favorites/src/commonMain/kotlin/io/github/droidkaigi/confsched/favorites/FavoritesScreen.kt
  feature/favorites/src/commonMain/kotlin/io/github/droidkaigi/confsched/favorites/FavoritesScreenPresenter.kt
  feature/main/src/commonMain/kotlin/io/github/droidkaigi/confsched/main/MainScreen.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreen.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreenPresenter.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/SearchScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/SearchScreenPresenter.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailPresenter.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableScreenPresenter.kt
  feature/settings/src/commonMain/kotlin/io/github/droidkaigi/confsched/settings/SettingsScreen.kt
  feature/settings/src/commonMain/kotlin/io/github/droidkaigi/confsched/settings/SettingsScreenPresenter.kt
  feature/sponsors/src/commonMain/kotlin/io/github/droidkaigi/confsched/sponsors/SponsorsScreen.kt
  feature/sponsors/src/commonMain/kotlin/io/github/droidkaigi/confsched/sponsors/SponsorsScreenPresenter.kt
  feature/staff/src/commonMain/kotlin/io/github/droidkaigi/confsched/staff/StaffScreen.kt
  feature/staff/src/commonMain/kotlin/io/github/droidkaigi/confsched/staff/StaffScreenPresenter.kt
Labels: type:iOS 🍎

#710 [iOS] Favorite Feature: Remove Workshop Day tab
  app-ios/Sources/CommonComponents/SelectionChips.swift
  app-ios/Sources/FavoriteFeature/FavoriteView.swift
Labels: type:iOS 🍎

#781 change rippleColor in TimetableItemCard
  core/droidkaigiui/src/commonMain/kotlin/io/github/droidkaigi/confsched/droidkaigiui/component/TimetableItemCard.kt
Labels: awesome

#779 [iOS] Add text style to labels on timetable
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#778 [iOS] Update build phase settings
  app-ios/App/App.xcodeproj/project.pbxproj
Labels: type:iOS 🍎

#796 Refactor KMP iOS build
  .github/workflows/ios-build-test.yml
  app-ios-shared/build.gradle.kts
  app-ios/App/App.xcodeproj/project.pbxproj
  app-ios/Makefile
  app-ios/README.md
  build-logic/src/main/kotlin/io/github/droidkaigi/confsched/primitive/KmpIosPlugin.kt
  build-logic/src/main/kotlin/io/github/droidkaigi/confsched/primitive/KmpKtorfitPlugin.kt
  build-logic/src/main/kotlin/io/github/droidkaigi/confsched/primitive/SourceSet.kt
  build_xcframework_with_xcode_environment_variable.sh
  gradle.properties
Labels: type:iOS 🍎

#559 Feature/446 gridlines
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#603 Feature/445 stretchfield
  app-ios/Sources/TimetableFeature/TimetableDataItems.swift
  app-ios/Sources/TimetableFeature/TimetableGridCard.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#790 Invert the system bar appearance on the ProfileCardScreen, matching its light background
  feature/profilecard/src/androidMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/InvertSystemBarAppearance.android.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreen.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/InvertSystemBarAppearance.kt
  feature/profilecard/src/iosMain/kotlin/io/github/droidkaigi/confsched/profilecard/component/InvertSystemBarAppearance.ios.kt
Labels: awesome

#815 [iOS] Declare states as private
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputImage.swift
  app-ios/Sources/SponsorFeature/SponsorView.swift
  app-ios/Sources/StaffFeature/StaffView.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#817 [iOS] Play haptic feedback when favoriting
  app-ios/Sources/CommonComponents/Timetable/TimetableCard.swift
  app-ios/Sources/TimetableDetailFeature/TimetableDetailView.swift
Labels: type:iOS 🍎

#810 :sparkles: [Compose Multiplatform] The ability to add sessions to the calendar as appointments has been implemented.
  app-ios-shared/src/commonMain/kotlin/io/github/droidkaigi/confsched/shared/IosComposeKaigiApp.kt
  app-ios/App/DroidKaigi2024App-Info.plist
Labels: type:iOS 🍎

#818 Crash iOS app when throwing error on kotlin flow
  app-ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/contributors/DefaultContributorsRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/eventmap/DefaultEventMapRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/sessions/DefaultSessionsRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/sponsors/DefaultSponsorsRepository.kt
  core/data/src/commonMain/kotlin/io/github/droidkaigi/confsched/data/staff/DefaultStaffRepository.kt
Labels: priority:high 🔥, type:iOS 🍎

#825 :recycle: Connecting Compose ProfileCardScreen as an iOS app screen
  app-ios-shared/build.gradle.kts
  app-ios/Sources/App/RootView.swift
  app-ios/Sources/KMPClient/Views/KmpProfileCardComposeViewControllerWrapper.swift
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreen.kt
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreenPresenter.kt
  feature/profilecard/src/iosMain/kotlin/io/github/droidkaigi/confsched/profilecard/ImageBitmapToUiImage.kt
  feature/profilecard/src/iosMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardViewController.kt
Labels: type:iOS 🍎

#820 :sparkles: [Compose Multiplatform] License screen can now be opened.
  app-ios-shared/src/commonMain/kotlin/io/github/droidkaigi/confsched/shared/IosComposeKaigiApp.kt
  app-ios/Package.swift
  app-ios/Sources/KMPClient/Views/KmpAppComposeViewControllerWrapper.swift
Labels: type:iOS 🍎

#828 Fix behavior when tapping more detail button on EventMapView
  app-ios/Sources/EventMapFeature/EventItem.swift
  app-ios/Sources/EventMapFeature/EventMapReducer.swift
  app-ios/Sources/EventMapFeature/EventMapView.swift
  app-ios/Tests/EventMapFeatureTests/EventMapTests.swift
Labels: type:iOS 🍎

#862 [iOS] Localize calendars usage description
  app-ios/App/App.xcodeproj/project.pbxproj
  app-ios/App/DroidKaigi2024App-Info.plist
  app-ios/App/InfoPlist.xcstrings
Labels: type:iOS 🍎

#867 Conform `Sendable` to TimetableDetailReducer.Action.
  app-ios/Sources/TimetableDetailFeature/TimetableDetailReducer.swift
Labels: type:iOS 🍎

#868 Erase unused variable declarations
  app-ios/Sources/ProfileCardFeature/Input/ProfileCardInputReducer.swift
Labels: type:iOS 🍎

#858 [iOS] Fix timetable list spacing
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#848 Prevent multiple transitions (only transitions by Navigation)
  build-logic/src/main/kotlin/io/github/droidkaigi/confsched/primitive/AndroidComposePlugin.kt
  build-logic/src/main/kotlin/io/github/droidkaigi/confsched/primitive/KmpComposePlugin.kt
  core/droidkaigiui/src/commonMain/kotlin/io/github/droidkaigi/confsched/droidkaigiui/OnClickHandler.kt
  core/droidkaigiui/src/commonMain/kotlin/io/github/droidkaigi/confsched/droidkaigiui/component/TimetableItemCard.kt
  feature/about/src/commonMain/kotlin/io/github/droidkaigi/confsched/about/component/AboutContentColumn.kt
  feature/contributors/src/commonMain/kotlin/io/github/droidkaigi/confsched/contributors/ContributorsScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/SearchScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableItemDetailScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/TimetableScreen.kt
  feature/sessions/src/commonMain/kotlin/io/github/droidkaigi/confsched/sessions/component/TimetableGridItem.kt
  feature/settings/src/commonMain/kotlin/io/github/droidkaigi/confsched/settings/SettingsScreen.kt
  feature/sponsors/src/commonMain/kotlin/io/github/droidkaigi/confsched/sponsors/SponsorsScreen.kt
  feature/staff/src/commonMain/kotlin/io/github/droidkaigi/confsched/staff/StaffScreen.kt
  gradle/libs.versions.toml
Labels: awesome

#869 Remove unnecessary `retroactive` attribute
  app-ios/Sources/FavoriteFeature/FavoriteView.swift
  app-ios/Sources/SearchFeature/SearchView.swift
  app-ios/Sources/Theme/ColorAsset+Sendable.swift
  app-ios/Sources/Theme/FontConvertible+Sendable.swift
Labels: type:iOS 🍎

#872 [iOS] Fix timeline grid unexpected margin.
  app-ios/Sources/TimetableFeature/TimetableGridCard.swift
  app-ios/Sources/TimetableFeature/TimetableListView.swift
Labels: type:iOS 🍎

#875 In EditScreen, add keyboardOptions in InputFieldWithError
  feature/profilecard/src/commonMain/kotlin/io/github/droidkaigi/confsched/profilecard/ProfileCardScreen.kt
Labels: awesome

#895 Fix: concurrency strict warnings in EventKitClient
  app-ios/Sources/EventKitClient/EventKitClient.swift
  app-ios/Sources/EventKitClient/LiveKey.swift
Labels: type:iOS 🍎

#889 [iOS] Run SwiftLint properly
  app-ios/.swiftlint.yml
Labels: type:iOS 🍎
